.chart-plot-background {
    -fx-border-color: #DDB0A0;
    -fx-border-width: 4px;
}

.axis:top {
    -fx-border-color: transparent;
}

.axis:right {
    -fx-border-color: transparent;
}

.axis:bottom {
    -fx-border-color: transparent;
}

.axis:left {
    -fx-border-color: transparent;
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}

.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}
.axis {
    -fx-font-size: 1.4em;
    -fx-tick-label-fill: #914800;
    -fx-font-family: Tahoma;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}
.axis-tick-mark {
    -fx-stroke: #fb7f71;
    -fx-stroke-width: 3;
}
.axis-minor-tick-mark {
    -fx-stroke: #ffc09e;
}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}
